body
  background-image: url('../images/timg.jpeg')
  background-attachment: fixed
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  background-color: #ffffff